li{
    color:darkred;
    font-size: 25px;
}

h1{
    font-size: 40px;
}

a{
    text-decoration: none;
}

p#lyrics{
    font-size: 19px;

}

h2{
    font-size: 25px;

}
img{
    width: 1341px;
    height: 600px;
}

*{
    background-color: gray;
}